<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static',filename='vendor/css/github-markdown.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='vendor/css/codehilite.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/article.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/transformations/analyser.css') }}" rel="stylesheet" type="text/css">
    {{ css_resources|safe }}
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="article-markdown-container">
    <article class="markdown-body">
        <h1>Graph representation</h1>
        <p>This graph represents how your functions, imports and classes in the source code supplied are related to each
            other and with the script.</p>
        <br>
    </article>
    <div style="display: flex; justify-content: center;">
        {{ plot_div|indent(4)|safe }}
    </div>
    <article class="markdown-body">
        <h1>Graph Nodes</h1>
        <div class="center-div">
            {{ listed_objects|safe }}
        </div>
    </article>
    <br>
    <article class="markdown-body">
        {{ metalanguage_source_code|safe }}
    </article>
</div>
{{ js_resources|safe }}
{{ plot_script|safe }}
</body>
</html>