.data-types-container {
}

.line-block {
    display: flex;
    margin-bottom: 2%;
}

.data-type-container {
    position: relative;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 250px;
    border-radius: 5px;
    border: 0 solid black;
    box-shadow: 1px 1px 10px #888888;
    text-align: center;
    opacity: 75%;
    background-color: #ffffff;
}

.data-type-container:hover {
    opacity: 80%;
}

.data-type {
    color: #2980b9;
    font-size: x-large;
    font-family: "Arial Black", serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.data-type-image {
    padding: 2.5% 4%;
    width: 90%;
    height: 90%;
    filter: blur(6px);
}

.data-type-image:hover {
    filter: blur(0px);
}