<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='css/presentation/navigation.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="data-types-container">
    <div class="line-block">
        <div class="data-type-container">
            <a href="/presentation/list"><img class="data-type-image" alt="C_language_linked_list.png"
                                              src="static/vendor/img/wikipedia/C_language_linked_list.png"/></a>
            <a class="data-type" href="/presentation/list">List</a>
        </div>
        <div class="data-type-container">
            <a href="/presentation/stack"><img class="data-type-image" alt="lifo_stack.png"
                                               src="static/vendor/img/wikipedia/lifo_stack.png"/></a>
            <a class="data-type" href="/presentation/stack">Stack</a>
        </div>
        <div class="data-type-container">
            <a href="/presentation/queue"><img class="data-type-image" alt="Queue.png"
                                               src="static/img/DataTypes/Queue.png"/></a>
            <a class="data-type" href="/presentation/queue">Queue</a>
        </div>
    </div>
    <div class="line-block">
        <div class="data-type-container">
            <a href="/presentation/binary_tree"><img class="data-type-image" alt="Binary_tree.svg"
                                                     src="static/vendor/img/wikipedia/Binary_tree.svg"/></a>
            <a class="data-type" href="/presentation/binary_tree">Binary Tree</a>
        </div>
        <div class="data-type-container">
            <a href="/presentation/avl_tree"><img class="data-type-image" alt="LeftRotationRightRotation.png"
                                                  src="static/img/DataTypes/LeftRotationRightRotation.png"/></a>
            <a class="data-type" href="/presentation/avl_tree">AVL Tree</a>
        </div>
        <div class="data-type-container">
            <a href="/presentation/b_tree"><img class="data-type-image" alt="BTreeExample.png"
                                                src="static/img/DataTypes/BTreeExample.png"/></a>
            <a class="data-type" href="/presentation/b_tree">B Trees</a>
        </div>
    </div>
</div>
</body>
</html>