<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='css/presentation/navigation.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="data-types-container">
    <div class="line-block">
        <div class="data-type-container">
            <a class="data-type" href="/presentation/list">List</a>
        </div>
        <div class="data-type-container">
            <a class="data-type" href="/presentation/stack">Stack</a>
        </div>
        <div class="data-type-container">
            <a class="data-type" href="/presentation/queue">Queue</a>
        </div>
    </div>
    <div class="line-block">
        <div class="data-type-container">
            <a class="data-type" href="/presentation/binary_tree">Binary Tree</a>
        </div>
        <div class="data-type-container">
            <a class="data-type" href="/presentation/avl_tree">AVL Tree</a>
        </div>
        <div class="data-type-container">
            <a class="data-type" href="/presentation/b_tree">B Trees</a>
        </div>
    </div>
</div>
</body>
</html>