<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static',filename='css/basic/top-bar.css') }}" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
</head>
<body>
<div class="top-bar-container">
    <a class="home-button" href="/home">LVaED</a>
    <div class="buttons-container">
        <a class="presentation-module-button" href="/presentation">Presentation</a>
        <a class="examples-module-button" href="/examples">Examples</a>
        <a class="transformation-module-button" href="/transformations">Transformations</a>
    </div>
</div>
</body>
</html>