<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static',filename='css/examples/navigation.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='css/presentation/navigation.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="library-download-container">
    <h2 class="download-libraries-title">Download Library</h2>
    <div class="library-links-container">
        <a class="all-libraries" href="/examples/download/all">All</a>
        <a class="c-library" href="/examples/download/c">C</a>
        <a class="java-library" href="/examples/download/java">Java</a>
        <a class="python-library" href="/examples/download/python">Python</a>
    </div>
</div>
<div class="data-types-container">
    <div class="line-block">
        <div class="example-datatype-container">
            <h1 class="data-type">Simple Linked List</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/simple_list">C</a>
                <a class="java-library" href="/examples/java/simple_list">Java</a>
                <a class="python-library" href="/examples/python/simple_list">Python</a>
            </div>
        </div>
        <div class="example-datatype-container">
            <h1 class="data-type">Double Linked List</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/double_list">C</a>
                <a class="java-library" href="/examples/java/double_list">Java</a>
                <a class="python-library" href="/examples/python/double_list">Python</a>
            </div>
        </div>
        <div class="example-datatype-container">
            <h1 class="data-type">Circular Simple Linked List</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/circular_simple_list">C</a>
                <a class="java-library" href="/examples/java/circular_simple_list">Java</a>
                <a class="python-library" href="/examples/python/circular_simple_list">Python</a>
            </div>
        </div>
    </div>
    <div class="line-block">
        <div class="example-datatype-container">
            <h1 class="data-type">Circular Double Linked List</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/circular_double_list">C</a>
                <a class="java-library" href="/examples/java/circular_double_list">Java</a>
                <a class="python-library" href="/examples/python/circular_double_list">Python</a>
            </div>
        </div>
        <div class="example-datatype-container">
            <h1 class="data-type">Array Based Stack</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/array_stack">C</a>
                <a class="java-library" href="/examples/java/array_stack">Java</a>
                <a class="python-library" href="/examples/python/array_stack">Python</a>
            </div>
        </div>
        <div class="example-datatype-container">
            <h1 class="data-type">List Based Stack</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/list_stack">C</a>
                <a class="java-library" href="/examples/java/list_stack">Java</a>
                <a class="python-library" href="/examples/python/list_stack">Python</a>
            </div>
        </div>
    </div>
    <div class="line-block">
        <div class="example-datatype-container">
            <h1 class="data-type">Array Based Queue</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/array_queue">C</a>
                <a class="java-library" href="/examples/java/array_queue">Java</a>
                <a class="python-library" href="/examples/python/array_queue">Python</a>
            </div>
        </div>
        <div class="example-datatype-container">
            <h1 class="data-type">List Based Queue</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/list_queue">C</a>
                <a class="java-library" href="/examples/java/list_queue">Java</a>
                <a class="python-library" href="/examples/python/list_queue">Python</a>
            </div>
        </div>
        <div class="example-datatype-container">
            <h1 class="data-type">Priority Queue</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/priority_queue">C</a>
                <a class="java-library" href="/examples/java/priority_queue">Java</a>
                <a class="python-library" href="/examples/python/priority_queue">Python</a>
            </div>
        </div>
    </div>
    <div class="line-block">
        <div class="example-datatype-container">
            <h1 class="data-type">Binary Tree</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/binary_tree">C</a>
                <a class="java-library" href="/examples/java/binary_tree">Java</a>
                <a class="python-library" href="/examples/python/binary_tree">Python</a>
            </div>
        </div>
        <div class="example-datatype-container">
            <h1 class="data-type">AVL Tree</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/avl_tree">C</a>
                <a class="java-library" href="/examples/java/avl_tree">Java</a>
                <a class="python-library" href="/examples/python/avl_tree">Python</a>
            </div>
        </div>
        <div class="example-datatype-container">
            <h1 class="data-type">B Tree</h1>
            <div class="individual-example-container">
                <a class="c-library" href="/examples/c/b_tree">C</a>
                <a class="java-library" href="/examples/java/b_tree">Java</a>
                <a class="python-library" href="/examples/python/b_tree">Python</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
